<div class="row">
    <div class="col-sm-12">
        <div class="card mb-3">
            <div class="card-body">
                <button class="btn btn-primary" (click)="open(content)">Create New</button>
                <ng-template #content let-c="close" let-d="dismiss">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Subject</h4>
                        <button type="button" class="close" aria-label="Close"
                         (click)="d('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                  <form role="form">
                        <fieldset class="form-group">
                            <label>Heading</label>
                            <input class="form-control" [(ngModel)]="forum.heading" name="heading">
                            <p class="help-block">Please give a title for it.</p>
                        </fieldset>
                        <fieldset class="form-group">
                            <label>Discrption</label>
                            <textarea class="form-control" rows="3" name="description" [(ngModel)]="forum.description"></textarea>
                        </fieldset>
                </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
                        <button type="button" class="btn btn-secondary" (click)="createForum()">Submit </button>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
